<div class="text-center mt-60">
    <p class="text-5xl font-bold">Welcome to <span class="text-yellow-400">Sizzle</span></p>
    <p class="mt-2 text-lg">"Indulge in Culinary Delights: Where Every Bite is a Passport to Flavors of Amore!"</p>
    <div class="mt-6 flex flex-col justify-center items-center">
        <h2 class="text-xl mb-4">Admin Login</h2>
        <input type="text" [(ngModel)]="username" placeholder="Username" class="border border-gray-300 p-2 mb-2 w-64 focus:outline-none focus:shadow-lg text-black">
        <input type="password" [(ngModel)]="password" placeholder="Password"
            class="border border-gray-300 p-2 mb-4 w-64 focus:outline-none focus:shadow-lg text-black">
        <button (click)="login(this.username,this.password)" class="bg-blue-500 text-white px-4 py-2 rounded">Login</button>
        <div *ngIf="loginError" class="text-red-500 mt-2">Invalid username or password</div>
    </div>
</div>