<div class="bg-white w-full h-full text-center text-black">
    <div class="text-center">
        <p class="text-xs text-black pt-4">CONTACT</p>
        <p class="text-2xl text-yellow-400">Contact Us</p>
    </div>
    <div class="flex justify-center items-center mt-4 mb-2">
        <img src="/assets/Images/stock-photo-photo-map.jpg" alt="no_image" class="w-full h-[500px] object-contain">
    </div>
    <div class="flex flex-col">
        <div class="flex flex-col justify-center items-center">
            <div class="flex flex-row space-x-1">
                <!-- <svg class="w-[30px] h-[40px] " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    strokeWidth={1.5} stroke="currentColor" className="size-6">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path strokeLinecap="round" strokeLinejoin="round"
                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                </svg> -->
                <img src="/assets/Images/icons/locations_icon.png" alt="no_image" class="w-[30px] h-[40px] object-contain">
                <div class="flex items-center">Location</div>
            </div>
            <span class="italic text-gray-300">123 Main Street, Cityville, State 12345,USA</span>
        </div>
         <div class="flex flex-col justify-center items-center">
            <div class="flex flex-row space-x-1">
                <!-- <svg class="w-[30px] h-[40px] " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    strokeWidth={1.5} stroke="currentColor" className="size-6">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path strokeLinecap="round" strokeLinejoin="round"
                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                </svg> -->
                <img src="/assets/Images/icons/2530808_alarm_icon.png" alt="no_image" class="w-[30px] h-[40px] object-contain">
                <div class="flex items-center">Open Hours</div>
            </div>
            <span class="italic text-gray-300">Monday - Sunday 9:00 AM - 11:00 PM</span>
        </div>
         <div class="flex flex-col justify-center items-center">
            <div class="flex flex-row space-x-1">
                <!-- <svg class="w-[30px] h-[40px] " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    strokeWidth={1.5} stroke="currentColor" className="size-6">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path strokeLinecap="round" strokeLinejoin="round"
                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                </svg> -->
                <img src="/assets/Images/icons/email_icon.png" alt="no_image" class="w-[30px] h-[40px] object-contain">
                <div class="flex items-center">Email</div>
            </div>
            <span class="italic text-gray-300">contact&#64;sizzle.com</span>
        </div>
        <div class="flex flex-col justify-center items-center">
            <div class="flex flex-row space-x-1">
                <!-- <svg class="w-[30px] h-[40px] " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    strokeWidth={1.5} stroke="currentColor" className="size-6">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path strokeLinecap="round" strokeLinejoin="round"
                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                </svg> -->
                <img src="/assets/Images/icons/phone_technology_icon.png" alt="no_image" class="w-[30px] h-[40px] object-contain">
                <div class="flex items-center">Phone</div>
            </div>
            <span class="italic text-gray-300">(555) 123-4567</span>
        </div>
    </div>
</div>