<div class="bg-white w-full h-full">
    <div class="flex flex-col pt-8 justify-center items-center">
        <p class="text-black text-xs">MENU</p>
        <p class="text-yellow-400 text-2xl">Check our tasty Menu</p>
    </div>
    <div>
        <ul class="flex flex-row text-xs text-black justify-evenly items-center p-4 font-semibold">
            <li class="hover:text-yellow-300 cursor-default">Beverages</li>
            <li class="hover:text-yellow-300 cursor-default">Lunch</li>
            <li class="hover:text-yellow-300 cursor-default">Dinner</li>
        </ul>
    </div>
    <div class="border-b border-gray-200 w-3/4 mx-auto mt-8"></div>
    <div class="w-3/4 flex flex-row my-10 ms-56 justify-start">
        <div class="w-1/3 flex flex-col">
            <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">classic Lemonade</div>
                    <div class="text-xs italic text-gray-400">Freshly squeesed lemons with a hint of sweetness</div>
                </div>
                <div class="text-black">$3.50</div>
            </div>
            <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Tropical Fruit Smoothie</div>
                    <div class="text-xs italic text-gray-400">A refreshing blend of pineapple, mango and banana with coconut water</div>
                </div>
                <div class="text-black">$5.25</div>
            </div>
            <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Iced Caramel Machiato</div>
                    <div class="text-xs italic text-gray-400">Chilled expresso combined with creamy milk and rich caramel syrup</div>
                </div>
                <div class="text-black">$3.50</div>
            </div>
             <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Green light</div>
                    <div class="text-xs italic text-gray-400">peach,kiwi,aloe vera</div>
                </div>
                <div class="text-black">$1.50</div>
            </div>
             <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Fresh Garden</div>
                    <div class="text-xs italic text-gray-400">mint tea,lemongrass,lemon juice,simple syrup</div>
                </div>
                <div class="text-black">$2</div>
            </div>
            <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Padmas's exoticism</div>
                    <div class="text-xs italic text-gray-400">fruit meddly, lime juice, blue curacao,soda water,cotton candy</div>
                </div>
                <div class="text-black">$2.50</div>
            </div>
        </div>
        <div class="w-1/3 ms-4">
            <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Crab Cake Sandwich</div>
                    <div class="text-xs italic text-gray-400">fresh crab cakes on a roll, served with tartat sauce.</div>
                </div>
                <div class="text-black">$12.35</div>
            </div>
             <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Microbrew Baterred Halibut</div>
                    <div class="text-xs italic text-gray-400">Sweet potato fries and house-made slaw.</div>
                </div>
                <div class="text-black">$12.35</div>
            </div>
            <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Green Peas Pulao</div>
                    <div class="text-xs italic text-gray-400">Basmati rice with steamed vegetables less spicy.</div>
                </div>
                <div class="text-black">$15.55</div>
            </div>
             <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Jeera Rice</div>
                    <div class="text-xs italic text-gray-400">Basmati rice with ghee and nuts</div>
                </div>
                <div class="text-black">$10.55</div>
            </div>
             <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Saffron Rice</div>
                    <div class="text-xs italic text-gray-400">Basmati rice with kashmiri style.</div>
                </div>
                <div class="text-black">$15.55</div>
            </div>
        </div>
        <div class="w-1/3 ms-4">
            <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Grilled Chicken</div>
                    <div class="text-xs italic text-gray-400">Chicken combined with house special spicy.</div>
                </div>
                <div class="text-black">$8.50</div>
            </div>
            <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Russian Salads</div>
                    <div class="text-xs italic text-gray-400">Pomegranate Avocado salad with cilantro.</div>
                </div>
                <div class="text-black">$6.50</div>
            </div>
             <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">American Salads</div>
                    <div class="text-xs italic text-gray-400">Shrimp and clam salad with mint leaves.</div>
                </div>
                <div class="text-black">$8.50</div>
            </div>
             <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Indian Soup</div>
                    <div class="text-xs italic text-gray-400">Garlic soup with paprika and tostades.</div>
                </div>
                <div class="text-black">$8.50</div>
            </div>
             <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Chinese Soup</div>
                    <div class="text-xs italic text-gray-400">Chorizo,Rice, andBean with Mint leaves.</div>
                </div>
                <div class="text-black">$4.50</div>
            </div>
            <div class="flex flex-row mb-2 justify-between">
                <div class="flex flex-col">
                    <div class="text-gray-800">Spanish Soup</div>
                    <div class="text-xs italic text-gray-400">Spanish ahi soup wit hroasted tomatoes.</div>
                </div>
                <div class="text-black">$3.50</div>
            </div>
        </div>
    </div>



</div>