<div class="mx-auto fixed bg-opacity-50 flex justify-center items-center z-50">
    <div>
        <h2 class="text-orange-600 mt-2">
            Confirm Booking
        </h2>
        <p><strong>Name:</strong> {{bookingDetails.name}}</p>
        <p><strong>Email:</strong> {{bookingDetails.email}}</p>
        <p><strong>phone:</strong> {{bookingDetails.phone}}</p>
        <p><strong>Date:</strong> {{bookingDetails.date}}</p>
        <p><strong>Time:</strong> {{bookingDetails.time}}</p>
        <p><strong>People Count:</strong> {{bookingDetails.peopleCount}}</p>
        <p><strong>Inbox:</strong> {{bookingDetails.inbox}}</p>
    </div>
    <div class="mt-6 flex justify-end gap-4">
<button class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400" (click)="cancel()">Cancel</button>
<button class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700" (click)="confirm()">OK</button>
    </div>

</div>

<!-- <div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white p-6 rounded-lg shadow-md w-[90%] max-w-md text-black">
    <h2 class="text-xl font-semibold mb-4">Confirm Booking</h2>
    <p><strong>Name:</strong> {{bookingDetails.name}}</p>
    <p><strong>Email:</strong> {{bookingDetails.email}}</p>
    <p><strong>Date:</strong> {{bookingDetails.date}}</p>
    <p><strong>Time:</strong> {{bookingDetails.time}}</p>
    <p><strong>People Count:</strong> {{bookingDetails.peopleCount}}</p>

    <div class="mt-6 flex justify-end gap-4">
      <button class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400" (click)="cancel()">Cancel</button>
      <button class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700" (click)="confirm()">OK</button>
    </div>
  </div>
</div> -->